.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;}

.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;}

.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;}

.sidebar {
height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;}

body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;}

header {
  text-align: center;}

footer {
  background-color: #343330;
  text-align: center;}

.circular--square {
    border-radius: 50%;
	border:5px solid orange;}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; }

.wrapper > * {
  padding: 10px;
  flex: 1 100%;}

.header {
  background: rgb(244, 78, 48);}

.footer {
  background: lightgreen;}

.main {
  text-align: left;
  background: deepskyblue;}

.aside-1 {
  background: goldenrod;
	text-align: left;}

.aside-2 {
  background: pink;}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body {
    padding: 1em;}


